@media (max-width: 768px) {
    .logo {
        font-size: 25px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    .home-content h3 {
        font-size: 25px;
    }
    .home-content p {
        font-size: 13px;
    }
    #showChorusButton {
        left: 270px;
    }
    .home-sci {
        bottom: 20px;
        width: 90%;
        margin: 10px;
    }
    .home-sci a {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }
    iframe{
        width: 300px;
        height: 220px
    }
    .home {
    padding: 0 2.5%;
    }
}